.footer
  background: #333333
  background-image: url(../img/contacts/footer-bg) no-repeat center
  background-size: cover
  display: flex
  flex-direction: column
  .footer-nav
        display: flex
        margin-top: 10px
        width: 77%
        
        ul
          display: flex
          flex-direction: row
          justify-content: space-between
          padding: 0
          li
            list-style: none
            margin-right: 35px
            line-height: 40px
            font-size: 15px
            font-weight: 400
            a
              display: block
              text-decoration: none
              color: #ffffff
              padding-bottom: 10px