.main::before
  position: absolute
  top: 0
  display: block
  content: ''
  width: 100%
  height: 100%
  background-color: #2f2f2f;
  opacity: .4
  z-index: -2
  background-image: linear-gradient(to right,#5c7e8e 0%, #f7c2cc 100%)
  @include mq($from: 1200px)
    display: none
.main::after
  position: absolute
  top: 0
  display: block
  content: ''
  width: 100%
  height: 100%
  background-color: #000000;
  opacity: .4
  z-index: -2
  @include mq($from: 1200px)
    display: none
.main
  position: relative
  max-width: 1920px
  background-repeat: no-repeat 
  background-position: center
  color: #ffffff
  background-size: cover
  z-index: 4
  @include mq($until: 992px)
    height: 790px
  @include mq($until: 576px)
    height: 690px
  @include mq($until: 1200px)
    padding-top: 50px
    padding-bottom: 0
    background-image: url(../img/main/slide1.png)
    height: 900px
    
  #menu
    position: fixed
    @include mq($until: 768px)
      width: 100%
      text-align: center
      top: 0
      left: 0
    
    ul
      li
        @include mq($until: 768px)
          font-family: $nova-bold
          font-weight: 700
          font-size: 34px

  #menu-button
    position: fixed
    top: 50px
    left: 20px
    display: block
    @include mq($from: 991px)
      display: none
      transition: all .3s ease
      
  .container
    padding: 0
    z-index: 5
    .header
      display: flex
      z-index: 3
      width: 100%
        flex-direction: column
      .logo
        @include logo
        @include mq($until: 1200px)
          @include push--sides(auto)
        @include mq($until: 486px)
          margin-right: 20px
      nav
        display: flex
        margin-top: 10px
        width: 77%
        @include mq($until: 1200px)
          width: 100%
        @include mq($until: 991px)
          display: none
        ul
          display: flex
          flex-direction: row
          justify-content: space-between
          padding: 0
          li
            list-style: none
            font-family: $nova-semibold
            margin-right: 35px
            line-height: 40px
            font-size: 15px
            font-weight: 400
            @include mq($until: 1200px)
              @include push--sides(10px)
            a
              display: block
              font-family: $nova-semibold
              text-decoration: none
              color: #ffffff
              padding-bottom: 10px
        .login
          @include login-button
    .main-content
      position: relative
      display: flex
      flex-direction: column
      .main-content__heading
        text-align: center
        font-size: 48px
        line-height: 30px
        font-family: $nova-bold
        @include push--sides(auto)
        font-weight: 700
        margin-top: 150px
        margin-bottom: 30px
        background: -webkit-linear-gradient(right,rgb(148, 117, 123) 0%,rgb(81, 128, 146) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: rgba(255, 255, 255, .8)
        @include mq($until: 1200px)
          margin-top: 100px
        @include mq($until: 991px)
          margin-top: 30px
          line-height: 100px
        @include mq($until: 768px)
          font-size: 50px
          line-height: 50px
          margin-bottom: 50px
        @include mq($until: 576px)
          font-size: 38px
      .main-content__line
        @include push--sides(auto)
        text-align: center
        margin-bottom: 15px
        @include mq($until: 768px)
          margin-bottom: 50px
      .main-content__paragraph1, .main-content__paragraph2
        text-align: center
        font-size: 22px
        font-weight: 300
        line-height: 30px
        @include soft--sides(100px)
        @include mq($until: 768px)
          @include soft--sides(20px)
          font-size: 30px
          line-height: 40px
        @include mq($until: 576px)
          font-size: 25px
          line-height: 30px

        background: -webkit-linear-gradient(right,rgb(148, 117, 123) 0%,rgb(81, 128, 146) 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: rgba(255, 255, 255, .8)
      .main-content__paragraph1
        margin-bottom: 15px
      .button-main
        background-color: $main-pink
        color: #ffffff
        border: none
        outline: none
        border-radius: 50px
        width: 215px
        height: 55px
        line-height: 55px
        font-family: $nova-semibold
        @include push--sides(auto)
        margin-top: 70px
        cursor: pointer
        @include mq($until: 486px)
          margin-top: 30px
      .main-content__scroll
        margin-top: 140px
        width: 17px
        @include push--sides(auto)
        @include mq($until: 992px)
          display: none
          margin-top: 0

.slick-dots
  width: 70px
  right: 0
  display: flex
  flex-direction: column
  top: 55%
  transform: translateY(-50%)
  & li
    background: #ffffff
    width: 11px
    height: 11px
    border-radius: 50%
    opacity: .4
    margin-top: 10px
  .slick-active
    opacity: 1
  // width: 11px
  // height: 11px
  // background: #ffffff
  // border-radius: 50%
  // margin-top: 10px
.main-bg
  position: absolute
  max-width: 1920px
  float: right
  background-repeat: no-repeat 
  background-position: center
  color: #ffffff
  background-size: cover
  margin-top: -70px
  z-index: -4
  @include mq($until: 992px)
    height: 790px
  @include mq($until: 576px)
    height: 690px
  @include mq($until: 1200px)
    padding-top: -50px
    padding-bottom: 0
    display: none
  @include mq($from: 1200px)
  height: 900px
  img
    width: 100%
    height: 100%
  .slick-list::before
    position: absolute
    top: 0
    display: block
    content: ''
    width: 100%
    height: 100%
    background-color: #2f2f2f;
    opacity: .4
    z-index: 1
    background-image: linear-gradient(to right,#5c7e8e 0%, #f7c2cc 100%)
  .slick-list::after
    position: absolute
    top: 0
    display: block
    content: ''
    width: 100%
    height: 100%
    background-color: #000000;
    opacity: .4
    z-index: 1

  