@import 'mq'
@import 'mixin'
@import 'variables'
@import 'main'
@import 'video'
*
  margin: 0 auto
  box-sizing: border-box
img
  max-width: 100%
.section-heading
  color: $font
  font-family: $cursive
  font-size: 34px
  text-align: center
  margin-top: 70px
.section-heading::after
  display: block
  content: ''
  width: 110px
  height: 1px
  background-color: $main-pink
  text-align: center
  margin-bottom: 140px
  @include push--sides(auto)
  @include push--ends(25px)

.section-text
  color: $font
  font-family: $cursive
  text-align: center
  margin-top: 0
  padding-top: 0
  margin-bottom: 70px
  width: 46%