@media (min-width: 992px) {
  .main .container .header nav ul li:not(.login):hover::after {
    width: 100%; }
  .main .container .header nav ul li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fa7995;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s; }
  .button:hover, .login:hover {
    -webkit-box-shadow: 0 0 35px rgba(250, 122, 170, 0.7);
    box-shadow: 0 0 35px rgba(250, 122, 170, 0.7);
    background-color: #fb92a8; }
  .tool:hover {
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    box-shadow: 0px 0px 29px 3px rgba(250, 122, 149, 0.51);
    -webkit-box-shadow: 0px 0px 29px 3px rgba(250, 122, 149, 0.51);
    -moz-box-shadow: 0px 0px 29px 3px rgba(250, 122, 149, 0.51);
    border-radius: 20px; }
  .button-blue:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #81ccf7 !important; }
  .button-green:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #83d293 !important; }
  .button-grey:hover {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: #898989 !important; } }

.main::before {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #2f2f2f;
  opacity: .4;
  z-index: -2;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c7e8e), to(#f7c2cc));
  background-image: -webkit-linear-gradient(left, #5c7e8e 0%, #f7c2cc 100%);
  background-image: -o-linear-gradient(left, #5c7e8e 0%, #f7c2cc 100%);
  background-image: linear-gradient(to right, #5c7e8e 0%, #f7c2cc 100%); }
  @media (min-width: 62.0625em) {
    .main::before {
      display: none; } }

.main::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .4;
  z-index: -2; }
  @media (min-width: 62.0625em) {
    .main::after {
      display: none; } }

.main {
  position: relative;
  color: #ffffff;
  z-index: 4;
  /*Hamburger Menu*/ }
  @media (min-width: 75em) {
    .main {
      height: 900px; } }
  @media (max-width: 62em) {
    .main {
      height: 790px; } }
  @media (max-width: 75em) {
    .main {
      padding-top: 50px;
      padding-bottom: 0;
      background-image: url(../img/main/slide1.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; } }
  .main #menu {
    position: fixed;
    z-index: 9; }
    @media (max-width: 48em) {
      .main #menu {
        width: 100%;
        text-align: center;
        top: 0;
        left: 0; } }
    @media (max-width: 48em) {
      .main #menu ul li {
        font-family: "Proxima Nova Bold", sans-serif;
        font-weight: 700;
        font-size: 34px; } }
  .main #menu-button {
    position: fixed;
    top: 50px;
    left: 20px;
    display: block;
    z-index: 10; }
    @media (min-width: 61.9375em) {
      .main #menu-button {
        display: none;
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease; } }
  .main .container {
    padding: 0;
    z-index: 5; }
    .main .container .header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      z-index: 3;
      width: 100%;
        width-flex-direction: column; }
      .main .container .header .logo {
        background: url(../img/main/logo.png) no-repeat center;
        background-size: contain;
        width: 210px;
        height: 35px;
        margin-top: 10px;
        margin-right: 100px; }
        @media (max-width: 75em) {
          .main .container .header .logo {
            margin-left: auto;
            margin-right: auto; } }
        @media (max-width: 30.375em) {
          .main .container .header .logo {
            margin-right: 20px; } }
      .main .container .header nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 10px;
        width: 77%; }
        @media (max-width: 75em) {
          .main .container .header nav {
            width: 100%; } }
        @media (max-width: 61.9375em) {
          .main .container .header nav {
            display: none; } }
        .main .container .header nav ul {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between;
          padding: 0; }
          .main .container .header nav ul li {
            list-style: none;
            font-family: "Proxima Nova Semibold", sans-serif;
            margin-right: 35px;
            line-height: 40px;
            font-size: 15px;
            font-weight: 400; }
            @media (max-width: 75em) {
              .main .container .header nav ul li {
                margin-left: 10px;
                margin-right: 10px; } }
            .main .container .header nav ul li a {
              display: block;
              font-family: "Proxima Nova Semibold", sans-serif;
              text-decoration: none;
              color: #ffffff;
              padding-bottom: 10px; }
        .main .container .header nav .login {
          display: block;
          width: 110px;
          height: 40px;
          background-color: #fa7995;
          border-radius: 50px;
          line-height: 40px;
          margin-left: 50px;
          text-align: center;
          margin-right: 0; }
    .main .container .main-content {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      .main .container .main-content .main-content__heading {
        text-align: center;
        font-size: 48px;
        line-height: 30px;
        font-family: "Proxima Nova Bold", sans-serif;
        margin-left: auto;
        margin-right: auto;
        font-weight: 700;
        margin-top: 150px;
        margin-bottom: 30px;
        background: -webkit-linear-gradient(right, #94757b 0%, #518092 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.8); }
        @media (max-width: 75em) {
          .main .container .main-content .main-content__heading {
            margin-top: 100px; } }
        @media (max-width: 61.9375em) {
          .main .container .main-content .main-content__heading {
            margin-top: 30px;
            line-height: 70px; } }
        @media (max-width: 48em) {
          .main .container .main-content .main-content__heading {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 50px; } }
        @media (max-width: 36em) {
          .main .container .main-content .main-content__heading {
            font-size: 38px; } }
      .main .container .main-content .main-content__line {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 15px; }
        @media (max-width: 62em) {
          .main .container .main-content .main-content__line {
            margin-bottom: 20px; } }
      .main .container .main-content .main-content__paragraph1, .main .container .main-content .main-content__paragraph2 {
        text-align: center;
        font-size: 22px;
        font-weight: 300;
        line-height: 30px;
        background: -webkit-linear-gradient(right, #94757b 0%, #518092 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: rgba(255, 255, 255, 0.8);
        padding-left: 100px;
        padding-right: 100px; }
        @media (max-width: 62em) {
          .main .container .main-content .main-content__paragraph1, .main .container .main-content .main-content__paragraph2 {
            padding-left: 20px;
            padding-right: 20px;
            font-size: 27px;
            line-height: 40px; } }
      .main .container .main-content .main-content__paragraph1 {
        margin-bottom: 30px; }
      .main .container .main-content .button-main {
        background-color: #fa7995;
        color: #ffffff;
        border: none;
        outline: none;
        border-radius: 50px;
        width: 215px;
        height: 55px;
        line-height: 55px;
        font-family: "Proxima Nova Semibold", sans-serif;
        margin-left: auto;
        margin-right: auto;
        margin-top: 70px;
        cursor: pointer; }
        @media (max-width: 62em) {
          .main .container .main-content .button-main {
            margin-top: 30px; } }
        @media (max-width: 30.375em) {
          .main .container .main-content .button-main {
            margin-top: 30px; } }
      .main .container .main-content .main-content__scroll {
        margin-top: 140px;
        width: 17px;
        margin-left: auto;
        margin-right: auto; }
        @media (max-width: 62em) {
          .main .container .main-content .main-content__scroll {
            display: none;
            margin-top: 0; } }

.slick-dots {
  width: 70px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 60%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }
  .slick-dots li {
    background: #ffffff;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    opacity: .4;
    margin-top: 10px; }
  .slick-dots .slick-active {
    opacity: 1; }

.slick-list, .slick-track {
  height: 100%; }

.main-bg {
  position: absolute;
  width: 100%;
  max-height: 900px;
  height: 100%;
  margin-top: -70px;
  z-index: -4; }
  @media (max-width: 62em) {
    .main-bg {
      padding-top: -50px;
      padding-bottom: 0;
      display: none; } }

.slide {
  height: 900px;
  background-size: cover !important; }

.slide1 {
  background: url(../img/main/slide1.png) no-repeat center; }

.slide2 {
  background: url(../img/main/slide2.jpg) no-repeat center; }

.slide3 {
  background: url(../img/main/slide3.jpg) no-repeat center; }

.slide4 {
  background: url(../img/main/slide4.jpg) no-repeat center; }

.slide5 {
  background: url(../img/main/slide5.jpg) no-repeat center; }

.slick-list::before {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 99%;
  background-color: #2f2f2f;
  opacity: .4;
  z-index: 1;
  background-image: -webkit-gradient(linear, left top, right top, from(#5c7e8e), to(#f7c2cc));
  background-image: -webkit-linear-gradient(left, #5c7e8e 0%, #f7c2cc 100%);
  background-image: -o-linear-gradient(left, #5c7e8e 0%, #f7c2cc 100%);
  background-image: linear-gradient(to right, #5c7e8e 0%, #f7c2cc 100%); }

.slick-list::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 99%;
  background-color: #000000;
  opacity: .4;
  z-index: 1; }

iframe {
  width: 100%;
  height: 400px;
  border: none;
  margin-left: auto;
  margin-right: auto; }

.video {
  min-height: 735px; }
  @media (max-width: 75em) {
    .video {
      padding-top: 50px;
      padding-bottom: 50px; } }
  .video .video-text .section-text {
    margin-bottom: 45px; }
  .video .video-content {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    z-index: 4; }
    .video .video-content .video-content__image1 {
      height: 320px;
      width: 250px;
      margin-right: 45px; }
      @media (max-width: 62em) {
        .video .video-content .video-content__image1 {
          display: none; } }
    .video .video-content .video-content__image2 {
      height: 320px;
      width: 250px;
      -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      transform: scaleX(-1);
      -webkit-filter: FlipH;
      filter: FlipH;
      -ms-filter: "FlipH";
      margin-left: 45px; }
      @media (max-width: 62em) {
        .video .video-content .video-content__image2 {
          display: none; } }
    @media (min-width: 62em) and (max-width: 87.5em) {
      .video .video-content .video-content__image1, .video .video-content .video-content__image2 {
        margin-left: 0;
        margin-right: 0; } }
    .video .video-content .video-container {
      width: 94%;
      height: 400px; }
      @media (min-width: 15em) and (max-width: 25em) {
        .video .video-content .video-container {
          width: 90%; } }
      .video .video-content .video-container .youtube {
        width: 100%;
        height: 100%;
        z-index: 4; }
        .video .video-content .video-container .youtube .ytp-cued-thumbnail-overlay-image, .video .video-content .video-container .youtube .video-stream {
          width: 655px; }
        .video .video-content .video-container .youtube::before {
          position: absolute;
          display: block;
          content: '';
          width: 100%;
          height: 400px;
          background-color: rgba(47, 47, 47, 0.4);
          z-index: -1; }
    .video .video-content .play {
      z-index: 4; }

.thumb {
  width: 100% !important; }

.tools {
  background: #faf9f9; }
  .tools .tools-content .tool {
    text-align: center;
    max-width: 245px;
    padding-left: 0;
    padding-right: 0;
    border: 1px solid transparent; }
    .tools .tools-content .tool .tools-content__heading {
      font-family: "Proxima Nova Bold", sans-serif;
      margin-top: 15px;
      margin-bottom: 15px; }
    .tools .tools-content .tool .tools-content__text {
      color: #484848; }
    .tools .tools-content .tool img {
      height: 60px;
      margin-top: 30px;
      margin-bottom: 30px; }
  .tools .more {
    font-size: 21px;
    font-weight: 400;
    line-height: 20.99px;
    font-family: "Proxima Nova Bold", sans-serif;
    text-align: center;
    margin-top: 55px; }

.examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 36em) {
    .examples {
      width: 97%; } }
  @media (max-width: 62em) {
    .examples .hidden-mobile {
      display: none; } }
  @media (max-width: 48em) {
    .examples .shown-mobile {
      display: none; } }
  @media (min-width: 62.0625em) {
    .examples .shown-mobile {
      display: none; } }
  .examples .examples-text {
    width: 100%; }
  .examples .examples-cont .row {
    margin-bottom: 36px; }
    .examples .examples-cont .row .col-6 {
      padding: 0;
      margin: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
    .examples .examples-cont .row img {
      width: 330px;
      height: 280px; }
  @media (min-width: 48.0625em) {
    .examples .examples-slider {
      display: none; } }
  .examples .slick-slider {
    width: 90%; }

.slick-prev, .slick-next {
  background: #fa7995;
  z-index: 4;
  height: 50px;
  width: 20px;
  font-size: 20px; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.slick-prev:focus, .slick-next:focus {
  background: #fa7995; }

.prices {
  background-color: #faf9f9; }
  .prices .prices-container .prices-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 62em) {
      .prices .prices-container .prices-cards {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    .prices .prices-container .prices-cards .price3 {
      position: relative; }
      .prices .prices-container .prices-cards .price3 .price-ribbon {
        position: absolute;
        top: 0;
        right: 10px;
        background: url(../img/modal/gold-ribbon.png) no-repeat center;
        background-size: cover;
        width: 34px;
        height: 91px;
        color: #ffffff; }
        .prices .prices-container .prices-cards .price3 .price-ribbon span {
          display: block;
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
          padding-top: 10px;
          line-height: 34px;
          padding-bottom: 10px; }
    .prices .prices-container .prices-cards .price {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      border-radius: 5px;
      max-width: 359px;
      height: 510px;
      border: 1px solid #ebebeb;
      margin-left: 15px;
      margin-right: 15px;
      color: #525252;
      background-color: #ffffff;
      font-size: 16px;
      font-family: "Proxima Nova Bold", sans-serif;
      font-weight: 400; }
      @media (max-width: 62em) {
        .prices .prices-container .prices-cards .price {
          width: 80%;
          margin-bottom: 50px; } }
      @media (max-width: 36em) {
        .prices .prices-container .prices-cards .price {
          width: 95%;
          margin-bottom: 50px;
          margin-left: auto;
          margin-right: auto; } }
      .prices .prices-container .prices-cards .price .price-heading {
        font-family: "Proxima Nova Bold", sans-serif;
        font-size: 24px;
        font-weight: 700;
        line-height: 80px;
        height: 80px;
        width: 100%;
        border-bottom: 1px solid #ebebeb;
        text-align: center;
        margin-bottom: 30px;
        color: #7c7c7c; }
      .prices .prices-container .prices-cards .price .price-heading_silver {
        color: #69c2f5; }
      .prices .prices-container .prices-cards .price .button-blue {
        background-color: #69c2f5;
        width: 235px;
        height: 50px;
        line-height: 50px;
        margin-top: 35px;
        -webkit-box-shadow: 0 0 27px rgba(105, 194, 245, 0.7);
        box-shadow: 0 0 27px rgba(105, 194, 245, 0.7); }
      .prices .prices-container .prices-cards .price .price-heading_gold {
        color: #70cb83; }
      .prices .prices-container .prices-cards .price .button-green {
        background-color: #70cb83;
        width: 235px;
        height: 50px;
        line-height: 50px;
        margin-top: 35px;
        -webkit-box-shadow: 0 0 27px rgba(112, 203, 131, 0.7);
        box-shadow: 0 0 27px rgba(112, 203, 131, 0.7); }
      .prices .prices-container .prices-cards .price .button-grey {
        -webkit-box-shadow: 0 0 27px rgba(124, 124, 124, 0.7);
        box-shadow: 0 0 27px rgba(124, 124, 124, 0.7);
        background-color: #7c7c7c;
        width: 235px;
        height: 50px;
        line-height: 50px;
        margin-top: 35px; }
      .prices .prices-container .prices-cards .price .button {
        margin-top: 25px; }
      .prices .prices-container .prices-cards .price ul {
        margin-bottom: 0;
        padding: 0;
        margin-left: 37px; }
        .prices .prices-container .prices-cards .price ul li:not(.price-tag) {
          font-family: "Proxima Nova Bold", sans-serif;
          font-weight: 400;
          padding-right: 20px; }
        .prices .prices-container .prices-cards .price ul .price-tag {
          font-family: "Proxima Nova Bold", sans-serif;
          font-size: 26px;
          font-weight: 200;
          line-height: 24px;
          list-style: none;
          margin-top: 40px;
          margin-bottom: 0;
          text-align: center;
          margin-left: -37px; }
          @media (max-width: 36em) {
            .prices .prices-container .prices-cards .price ul .price-tag {
              margin-top: 25px; } }

.about .about-content_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }
  @media (max-width: 62em) {
    .about .about-content_wrapper img {
      display: none; } }
  .about .about-content_wrapper .about-content {
    margin-top: 90px;
    max-width: 780px; }
    .about .about-content_wrapper .about-content .about-text__heading {
      color: #333333;
      font-family: "Proxima Nova Bold", sans-serif;
      font-weight: 300;
      line-height: 18px; }
    .about .about-content_wrapper .about-content .heading2 {
      margin-top: 50px; }
    .about .about-content_wrapper .about-content .about-text__text {
      color: #484848;
      font-size: 16px;
      font-family: "Proxima Nova", sans-serif; }
      @media (max-width: 61.9375em) {
        .about .about-content_wrapper .about-content .about-text__text {
          text-align: justify; } }

.contacts {
  background-color: #faf9f9;
  min-height: 780px; }
  .contacts .form-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 62em) {
      .contacts .form-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
  .contacts form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts form .name-input, .contacts form .email-input {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-right: 25px; }
      @media (max-width: 62em) {
        .contacts form .name-input, .contacts form .email-input {
          margin-right: 0; } }
      @media (max-width: 28.75em) {
        .contacts form .name-input, .contacts form .email-input {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .contacts form .name-input label, .contacts form .email-input label {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background: #fff;
        border: 1px solid #ededed;
        border-right: 0;
        width: 150px;
        height: 50px;
        line-height: 50px;
        padding-right: 15px;
        font-size: 15px;
        font-weight: 300;
        font-family: "ProximaNova-Light", sans-serif; }
        @media (max-width: 28.75em) {
          .contacts form .name-input label, .contacts form .email-input label {
            width: 250px;
            margin-bottom: 0;
            border: 1px solid #ededed;
            border-bottom: 0;
            padding-right: 0; } }
        .contacts form .name-input label img, .contacts form .email-input label img {
          height: 20px;
          width: 20px;
          margin: 15px; }
    .contacts form .form-wrapper {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .contacts form .asterisk {
      opacity: 0.6;
      color: #606060;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      margin-left: 15px;
      margin-bottom: 18px; }
  .contacts #name, .contacts #email {
    width: 200px;
    height: 50px;
    border: 1px solid #ededed;
    border-left: 0; }
    @media (max-width: 62em) {
      .contacts #name, .contacts #email {
        width: 400px;
        margin-right: 0; } }
    @media (max-width: 48em) {
      .contacts #name, .contacts #email {
        width: 250px; } }
    @media (max-width: 28.75em) {
      .contacts #name, .contacts #email {
        width: 250px;
        border: 1px solid #ededed;
        border-top: 0;
        padding-left: 20px; } }
  .contacts .textarea-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .contacts .textarea-wrap label {
      width: 665px;
      height: 50px;
      background: #ffffff;
      border: 1px solid #ededed;
      border-bottom: 0;
      text-align: left;
      margin-bottom: 0;
      font-size: 15px;
      font-weight: 300;
      font-family: "ProximaNova-Light", sans-serif; }
      @media (max-width: 75em) {
        .contacts .textarea-wrap label {
          width: 550px; } }
      @media (max-width: 48em) {
        .contacts .textarea-wrap label {
          width: 400px; } }
      @media (max-width: 28.75em) {
        .contacts .textarea-wrap label {
          width: 250px; } }
      .contacts .textarea-wrap label img {
        height: 20px;
        width: 20px;
        margin: 20px; }
    .contacts .textarea-wrap textarea {
      width: 665px;
      height: 100px;
      border: 1px solid #ededed;
      border-top: 0;
      padding-left: 20px; }
      @media (max-width: 75em) {
        .contacts .textarea-wrap textarea {
          width: 550px; } }
      @media (max-width: 48em) {
        .contacts .textarea-wrap textarea {
          width: 400px; } }
      @media (max-width: 28.75em) {
        .contacts .textarea-wrap textarea {
          width: 250px; } }
  .contacts .submit-button {
    margin-bottom: 50px; }
    @media (max-width: 62em) {
      .contacts .submit-button {
        margin-top: 20px; } }
  .contacts .social {
    margin-left: auto;
    margin-right: auto; }
  .contacts .social-heading {
    text-align: center;
    font-family: "Proxima Nova Bold", sans-serif;
    font-size: 21px;
    font-weight: 200;
    line-height: 20.99px;
    margin-bottom: 30px; }
  .contacts .social-links__hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 75em) {
      .contacts .social-links__hidden {
        display: none; } }
    .contacts .social-links__hidden .fb {
      background: #21579f; }
    .contacts .social-links__hidden .vk {
      background: #4c77a4; }
    .contacts .social-links__hidden .ok {
      background: #f68529; }
    .contacts .social-links__hidden .inst {
      background: #943ba7; }
    .contacts .social-links__hidden .yout {
      background: #e61f19; }
    .contacts .social-links__hidden .fb, .contacts .social-links__hidden .vk, .contacts .social-links__hidden .inst, .contacts .social-links__hidden .ok, .contacts .social-links__hidden .yout {
      color: #ffffff;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      padding: 3px;
      border-radius: 5px;
      line-height: 50px;
      padding-right: 23px; }
    .contacts .social-links__hidden img {
      padding: 0;
      padding: 9px;
      border-right: 1px solid rgba(255, 255, 255, 0.4);
      margin-right: 17px; }

@media (max-width: 75em) {
  .mobile-hidden {
    display: none; } }

.social-links__shown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 75.0625em) {
    .social-links__shown {
      display: none; } }
  .social-links__shown .fb, .social-links__shown .vk, .social-links__shown .inst, .social-links__shown .ok, .social-links__shown .yout {
    width: 40px;
    height: 40px; }

.footer::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -2; }

.footer::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 70px; }

.footer {
  position: relative;
  background: url(../img/contacts/footer-bg.png) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  padding: 0; }
  .footer .footer-bottom {
    font-family: "Proxima Nova Semibold", sans-serif;
    height: 70px;
    line-height: 70px;
    opacity: 0.5;
    color: #ffffff;
    text-align: center; }
  .footer .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 77%;
    height: 150px;
    font-family: "Proxima Nova Semibold", sans-serif; }
    @media (max-width: 68.75em) {
      .footer .footer-nav {
        display: none; } }
    .footer .footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0; }
      .footer .footer-nav ul li {
        list-style: none;
        margin-right: 10px;
        font-family: "Proxima Nova Semibold", sans-serif;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 15px;
        font-weight: 400; }
        @media (max-width: 75em) {
          .footer .footer-nav ul li {
            margin-right: 10px; } }
        .footer .footer-nav ul li a {
          display: block;
          text-decoration: none;
          color: #ffffff;
          padding-bottom: 10px;
          font-family: "Proxima Nova Semibold", sans-serif; }
      .footer .footer-nav ul .footer-login {
        display: block;
        width: 110px;
        height: 40px;
        background-color: #fa7995;
        border-radius: 50px;
        line-height: 40px;
        margin-left: 50px;
        text-align: center;
        margin-right: 0;
        margin-left: 20px;
        font-family: "Proxima Nova Semibold", sans-serif; }
    .footer .footer-nav .logo {
      background: url(../img/main/logo.png) no-repeat center;
      background-size: contain;
      width: 210px;
      height: 35px;
      margin-top: 10px;
      margin-right: 100px;
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 50px; }
      @media (max-width: 75em) {
        .footer .footer-nav .logo {
          width: 170px;
          margin-right: 20px; } }

.overlay {
  position: fixed;
  display: none;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #2f2f2f url(../img/modal/modal-bg.png) center no-repeat;
  background-size: cover; }

.popup {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 50%;
  top: 20%;
  max-width: 752px;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #faf9f9;
  z-index: 9; }
  @media (min-width: 20em) and (max-width: 36em) {
    .popup {
      max-width: 290px; } }
  @media (min-width: 36em) and (max-width: 48em) {
    .popup {
      max-width: 430px; } }
  @media (min-width: 48em) and (max-width: 62em) {
    .popup {
      max-width: 432px; } }
  @media (min-width: 62em) and (max-width: 75em) {
    .popup {
      width: 100%;
      top: 8%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  .popup-close {
    position: absolute;
    top: -30px;
    right: -20px;
    font-size: 35px;
    color: #ffffff;
    font-weight: 300;
    cursor: pointer; }
    @media (min-width: 20em) and (max-width: 36em) {
      .popup-close {
        right: -10px; } }
  .popup-image {
    display: block;
    max-width: 321px;
    width: 100%;
    height: 421px;
    margin: 0;
    background: url(../img/modal/popup-side.png) no-repeat center;
    background-color: #fa7995;
    background-size: cover;
    overflow: hidden; }
    @media (min-width: 20em) and (max-width: 62em) {
      .popup-image {
        display: none; } }
    .popup-image img {
      max-width: 321px;
      width: 100%; }
      @media (min-width: 20em) and (max-width: 75em) {
        .popup-image img {
          display: none; } }
  .popup-form-container {
    margin-left: 25px;
    margin-right: 25px;
    width: 100%; }
    .popup-form-container .popup-form__header {
      font-family: "Amsdamcyr", sans-serif;
      font-size: 24px;
      margin: 34px 0 20px 24px;
      font-weight: bold;
      line-height: 30px; }
    .popup-form-container .popup-form__buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 25px; }
      @media (max-width: 36em) {
        .popup-form-container .popup-form__buttons {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column; } }
      .popup-form-container .popup-form__buttons .popup-form__button {
        width: 237px;
        margin-top: 0 !important; }
      .popup-form-container .popup-form__buttons .popup-form__button2 {
        width: 129px;
        height: 56px;
        border: 1px solid #333333;
        background-color: #faf9f9;
        color: #333333;
        font-family: "Proxima Nova Semibold", sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 23.4px;
        text-transform: uppercase;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin-top: 0; }
        @media (max-width: 36em) {
          .popup-form-container .popup-form__buttons .popup-form__button2 {
            width: 237px;
            margin-top: 20px; } }
    .popup-form-container .popup-form__inputs {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
    .popup-form-container .popup-form__name {
      background: url(../img/modal/name.png) no-repeat;
      background-position: 16px center;
      padding-left: 50px;
      padding-right: 15px;
      height: 53px;
      border-radius: 3px;
      border: 1px solid #ededed;
      outline: none; }
    .popup-form-container .popup-form__tel {
      background: url(../img/modal/email.png) no-repeat;
      background-position: 16px center;
      padding-left: 50px;
      padding-right: 15px;
      height: 53px;
      border-radius: 3px;
      border: 1px solid #ededed;
      outline: none;
      margin-top: 9px;
      margin-bottom: 9px; }
    .popup-form-container .popup-form__email {
      background: url(../img/modal/tel.png) no-repeat;
      background-position: 16px center;
      padding-left: 50px;
      padding-right: 15px;
      height: 53px;
      border-radius: 3px;
      border: 1px solid #ededed;
      outline: none; }
    .popup-form-container .asterisk {
      text-align: center;
      margin-top: 34px;
      margin-bottom: 21px;
      opacity: .5; }
      @media (max-width: 36em) {
        .popup-form-container .asterisk {
          margin-top: 20px; } }
      .popup-form-container .asterisk__name:placeholder, .popup-form-container .asterisk__tel:placeholder, .popup-form-container .asterisk__email:placeholder {
        color: #606060;
        font-family: "Proxima Nova", sans-serif;
        font-size: 15px;
        font-weight: 300;
        line-height: 24px; }

.overlay::before {
  position: absolute;
    position-top: 0;
    position-display: block;
    position-content: '';
    position-width: 100%;
    position-height: 100%;
    position-background-color: #2f2f2f;
    position-opacity: .4;
    position-z-index: -2;
    position-background-image: linear-gradient(to right, #5c7e8e 0%, #f7c2cc 100%); }

.overlay::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .4;
  z-index: -2; }

#thankyou .popup-thanks {
  position: fixed;
  height: 421px;
  bottom: 20% !important; }

.popup-close {
  color: #fff; }

.popup-title {
  font-family: "Amsdamcyr", sans-serif;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  padding-bottom: 30px; }
  .popup-title__font {
    display: block;
    margin-top: 50px; }

.popup-overlay {
  position: fixed;
  display: none;
  top: 0;
  max-width: 100%;
  width: 100%;
  height: 100%;
  z-index: 5;
  background: #2f2f2f url(../img/modal/modal-bg.png) center no-repeat;
  background-size: cover; }

.overlay::before {
  position: absolute;
    position-top: 0;
    position-display: block;
    position-content: '';
    position-width: 100%;
    position-height: 100%;
    position-background-color: #2f2f2f;
    position-opacity: .4;
    position-z-index: -2;
    position-background-image: linear-gradient(to right, #5c7e8e 0%, #f7c2cc 100%); }

.overlay::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: .4;
  z-index: -2; }

@media (min-width: 15em) and (max-width: 25em) {
  .container {
    width: 90%; } }

* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "ProximaNova-Light", sans-serif;
  text-decoration: none !important; }

a > * {
  text-decoration: none !important;
  color: #484848;
  display: block; }

button:focus, input:focus, textarea:focus {
  outline: none; }

img {
  max-width: 100%; }

section {
  padding-bottom: 70px;
  padding-top: 70px; }

.section-heading {
  color: #333333;
  font-family: "Amsdamcyr", sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center; }
  @media (max-width: 36em) {
    .section-heading {
      font-size: 24px; } }

.section-heading::after {
  display: block;
  content: '';
  width: 110px;
  height: 1px;
  background-color: #fa7995;
  text-align: center;
  margin-bottom: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  margin-bottom: 25px; }

.section-text {
  color: #484848;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 45px; }
  @media (max-width: 28.75em) {
    .section-text {
      width: 95%; } }
  @media (min-width: 28.75em) and (max-width: 48em) {
    .section-text {
      width: 75%; } }
  @media (min-width: 74.9375em) {
    .section-text {
      width: 53%; } }

.button {
  -webkit-box-shadow: 0 0 27px rgba(250, 122, 149, 0.36);
  box-shadow: 0 0 27px rgba(250, 122, 149, 0.36);
  background-color: #fa7a95;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #ffffff;
  text-align: center;
  width: 222px;
  height: 56px;
  line-height: 56px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto; }
