@import url("../fonts/Museo.otf?family=Museo:400");
@media (min-width: 992px) {
  .hover li:hover {
    border-bottom: 1px solid #fa7995;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
  .footer-lk-login:hover {
    -webkit-box-shadow: 1px 1px 9px 7px rgba(255, 255, 255, 0.25);
    box-shadow: 1px 1px 9px 7px rgba(255, 255, 255, 0.25);
    cursor: pointer; }
  .header-publish:hover {
    -webkit-box-shadow: 1px 1px 9px 7px rgba(250, 122, 149, 0.25);
    box-shadow: 1px 1px 9px 7px rgba(250, 122, 149, 0.25);
    cursor: pointer; }
  .header-preview:hover {
    -webkit-box-shadow: 1px 1px 9px 7px rgba(255, 255, 255, 0.25);
    box-shadow: 1px 1px 9px 7px rgba(255, 255, 255, 0.25);
    cursor: pointer; } }

.side-menu {
  position: absolute;
  top: 60px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 160px;
  background-color: #faf9f9;
  z-index: 99; }
  @media (max-width: 86.5625em) {
    .side-menu {
      width: 70px; } }
  @media (max-width: 65.625em) {
    .side-menu {
      display: none; } }
  .side-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0; }
    @media (max-width: 86.5625em) {
      .side-menu ul {
        width: 70px; } }
    .side-menu ul .menu-item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 160px;
      height: 100px;
      padding: 0;
      margin: 0;
      list-style: none;
      text-align: center; }
      @media (max-width: 86.5625em) {
        .side-menu ul .menu-item {
          width: 70px; } }
      .side-menu ul .menu-item a {
        display: block;
        text-decoration: none; }
        .side-menu ul .menu-item a .menu-item__image {
          margin-top: 23px;
          margin-bottom: 23px; }
          .side-menu ul .menu-item a .menu-item__image svg {
            width: 30px;
            height: 30px; }

.menu-item__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: 1px solid #333333;
  background-size: 50%;
  color: #333333; }

.menu-item:hover {
  background-color: #f0f0f0;
  border-left: 2px solid #fa7995; }
  .menu-item:hover .menu-item__wrap {
    background-color: #333333; }
  .menu-item:hover .svg path {
    fill: #ffffff; }

@media (max-width: 86.5625em) {
  .hidden-mobile {
    display: none; } }

.header::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #333; }

@media (max-width: 61.9375em) {
  .mobile-hidden {
    display: none !important; } }

@media (max-width: 61.9375em) {
  #menu-button {
    display: block; } }

@media (min-width: 61.9375em) {
  #menu-button {
    display: none; } }

@media (max-width: 56.25em) {
  #menu ul li {
    padding-top: 10px;
    padding-bottom: 10px; } }

@media (max-width: 56.25em) {
  #menu .menu-ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.8);
    padding-top: 5px;
    padding-bottom: 5px; } }

@media (max-width: 56.25em) {
  #menu {
    width: 100%;
    top: 37px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 30px; } }

.header {
  position: relative;
  background: url(../img/footer-bg.png) no-repeat center;
  width: 100%;
  height: 59px;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .header .lk-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: "Proxima Nova Semibold", sans-serif; }
    .header .lk-header .col-1 {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; }
    .header .lk-header ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0; }
      .header .lk-header ul li {
        list-style: none;
        margin-right: 10px;
        font-family: "Proxima Nova Semibold", sans-serif;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 15px;
        font-weight: 400; }
        @media (max-width: 75em) {
          .header .lk-header ul li {
            margin-right: 10px; } }
        .header .lk-header ul li a {
          display: block;
          text-decoration: none;
          color: #ffffff;
          font-family: "Proxima Nova Semibold", sans-serif; }
    .header .lk-header .logo {
      margin-top: auto;
      margin-bottom: auto;
      background: url(../img/lklogo.png) no-repeat center;
      background-size: contain;
      width: 50px;
      height: 34px; }
    .header .lk-header .header-button {
      color: #ffffff;
      border-radius: 50px;
      background-color: transparent;
      margin-top: 10px;
      margin-bottom: 10px;
      font-family: "Proxima Nova Semibold", sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 24px; }
      @media (max-width: 75em) {
        .header .lk-header .header-button {
          padding: 0; } }
    .header .lk-header .header-preview {
      margin-left: -30px;
      padding: 5px 30px;
      border: 2px solid #fff; }
      @media (max-width: 75em) {
        .header .lk-header .header-preview {
          margin-left: -70px; } }
    .header .lk-header .header-publish {
      margin-left: -30px;
      width: 183px;
      padding-top: 5px;
      padding-bottom: 5px;
      border: 2px solid #fa7995;
      color: #fa7995; }
      @media (max-width: 75em) {
        .header .lk-header .header-publish {
          margin-left: -52px; } }

.footer::after {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  z-index: -2;
  background-color: #333; }

.footer::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.5);
  bottom: 70px; }

.footer {
  position: relative;
  background: url(../img/contacts/footer-bg.png) no-repeat center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #ffffff;
  width: 100%;
  padding: 0;
  background: url(../img/footer-bg.png) no-repeat center; }
  .footer .lk-footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 130px;
    font-family: "Proxima Nova Semibold", sans-serif; }
    @media (max-width: 68.75em) {
      .footer .lk-footer-nav {
        display: none; } }
    .footer .lk-footer-nav ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 0; }
      .footer .lk-footer-nav ul li {
        list-style: none;
        margin-right: 10px;
        font-family: "Proxima Nova Semibold", sans-serif;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 15px;
        font-weight: 400; }
        @media (max-width: 75em) {
          .footer .lk-footer-nav ul li {
            margin-right: 10px; } }
        .footer .lk-footer-nav ul li a {
          display: block;
          text-decoration: none;
          color: #ffffff;
          padding-bottom: 10px;
          font-family: "Proxima Nova Semibold", sans-serif; }
    .footer .lk-footer-nav .footer-lk-login {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 109px;
      height: 40px;
      border: 1px solid #ffffff;
      border-radius: 50px;
      font-family: "Proxima Nova Semibold", sans-serif;
      text-align: center;
      text-decoration: none;
      line-height: 40px;
      margin-right: 0; }
      .footer .lk-footer-nav .footer-lk-login a {
        color: #ffffff; }
    .footer .lk-footer-nav .logo {
      margin-top: auto;
      margin-bottom: auto;
      margin-right: 50px;
      background: url(../img/footer-logo.png) no-repeat center;
      background-size: contain;
      width: 210px;
      height: 35px;
      margin-right: 100px; }
      @media (max-width: 75em) {
        .footer .lk-footer-nav .logo {
          width: 170px; } }
  .footer .footer-bottom {
    font-family: "Proxima Nova Semibold", sans-serif;
    height: 70px;
    line-height: 70px;
    opacity: 0.5;
    color: #ffffff;
    text-align: center; }

.section-image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #ebebeb;
  height: 270px; }
  @media (min-width: 75em) {
    .section-image__container {
      width: 360px; } }
  @media (max-width: 75em) {
    .section-image__container {
      max-width: 360px;
      height: auto; } }
  @media (min-width: 62em) {
    .section-image__container {
      margin: 14px 30px; } }
  .section-image__container .section-image {
    margin-bottom: 0; }
    @media (min-width: 36em) {
      .section-image__container .section-image {
        height: 200px; } }
  .section-image__container .bg-choose {
    width: 116px;
    height: 40px;
    border: 1px solid #333333;
    background-color: #ffffff;
    color: #333333;
    font-family: "Proxima Nova", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 13px; }
    @media (max-width: 75em) {
      .section-image__container .bg-choose {
        margin-top: 13px; } }

@media (max-width: 62em) {
  .container {
    max-width: 760px; } }

.background .background-text .section-text {
  width: 100%; }

.bg-image {
  width: 848px;
  background: url(../img/page2/flowers.png) no-repeat center;
  background-size: cover; }
  .bg-image .overlay-card {
    position: relative;
    width: 599px;
    height: 359px;
    -webkit-box-shadow: 0 0 62px rgba(0, 0, 0, 0.09);
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.09);
    background-color: #ffffff; }
    .bg-image .overlay-card .corner {
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: transparent; }
    .bg-image .overlay-card .corner1 {
      top: 0;
      left: 0; }
    .bg-image .overlay-card .corner2 {
      top: 0;
      right: 0; }
    .bg-image .overlay-card .corner3 {
      bottom: 0;
      right: 0; }
    .bg-image .overlay-card .corner4 {
      bottom: 0;
      left: 0; }
    .bg-image .overlay-card .heading {
      font-family: "Museo", sans-serif; }

@media (min-width: 15em) and (max-width: 25em) {
  .container {
    width: 90%; } }

* {
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "ProximaNova-Light", sans-serif;
  text-decoration: none !important; }

a > * {
  text-decoration: none !important;
  color: #484848;
  display: block; }

button:focus, input:focus, textarea:focus {
  outline: none; }

img {
  max-width: 100%; }

section {
  padding-bottom: 70px;
  padding-top: 70px; }

.section-heading {
  color: #333333;
  font-family: "Amsdamcyr", sans-serif;
  font-weight: bold;
  font-size: 28px;
  text-align: center; }
  @media (max-width: 36em) {
    .section-heading {
      font-size: 24px; } }

.section-heading::after {
  display: block;
  content: '';
  width: 110px;
  height: 1px;
  background-color: #fa7995;
  text-align: center;
  margin-bottom: 140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px; }

.section-text {
  color: #484848;
  font-family: "Proxima Nova", sans-serif;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 45px;
  width: 46%; }
  @media (max-width: 28.75em) {
    .section-text {
      width: 95%; } }
  @media (min-width: 28.75em) and (max-width: 48em) {
    .section-text {
      width: 75%; } }
  @media (min-width: 74.9375em) {
    .section-text {
      width: 53%; } }

.button {
  -webkit-box-shadow: 0 0 27px rgba(250, 122, 149, 0.36);
  box-shadow: 0 0 27px rgba(250, 122, 149, 0.36);
  background-color: #fa7a95;
  font-family: "Proxima Nova Semibold", sans-serif;
  color: #ffffff;
  text-align: center;
  width: 222px;
  height: 56px;
  line-height: 56px;
  border: none;
  outline: none;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto; }
